.mat-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  margin-bottom: 20px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button.mat-button {
  margin-left: 10px;
}
