


<div class="external card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="title">Event Inputs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    
      <!-- Import the necessary Angular Material modules -->
      <mat-table [dataSource]="questions" class="mat-elevation-z8">
        <!-- Define the columns -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let question">{{ question.type }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let question">{{ question.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="isRequired">
          <mat-header-cell *matHeaderCellDef>Required</mat-header-cell>
          <mat-cell *matCellDef="let question">{{ question.isRequired ? 'Yes' : 'No' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let question">
            <button mat-icon-button color="primary" (click)="editQuestion(question)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteQuestion(question)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Render the table rows -->
        <mat-header-row *matHeaderRowDef="['type', 'name', 'isRequired', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let question; columns: ['type', 'name', 'isRequired', 'actions']"></mat-row>
      </mat-table>



      <button mat-raised-button (click)="openDialog()">Add Field</button>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-button (click)="save()">Save</button>
      <button mat-button (click)="closeEventInputs()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
