 
.centered-container app-dashboard-layout {
  
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-container .centered-card {
  background-color: #ffcccc;  
  color: red;  
  border: 2px solid red;  
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  max-width: 500px;  
  text-align: center;
  padding: 20px;
}

.centered-container .centered-card .centered-text {
  font-size: 20px; /* Example font size for declined status */
}

.centered-container .centered-card .centered-text h1 {
  color: red; /* Example h1 color for declined status */
}

  
  
  