.title {
  font-size: 30px;
  font-family: "Bruno Ace SC", cursive;
}

.my-form {
  width: 400px;
  margin: auto;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
}
label {
  padding-right: 5px;
}
.my-form mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.my-form mat-card-content {
  padding: 16px;
}

.my-form mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.container {
 display:flex;
}
.cardmat{
  color:black;
  margin: 10px;
}