<div class="comp">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Change password</h3>
            <div class="card-text">
                <form [formGroup]="changePasswordForm" (ngSubmit)="ChangePassword()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Current Password</label>
                        <input type="password" class="form-control form-control-sm" formControlName="currentPassword">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">New password</label>
                        <input type="password" class="form-control form-control-sm" formControlName="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Confirm New password</label>
                        <input type="password" class="form-control form-control-sm" formControlName="confirmNewPassword">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block submit-btn" [disabled]="!changePasswordForm.valid">Confirm</button>
                    <!-- <button type="submit" class="btn btn-primary btn-block submit-btn">Back</button> -->
                </form>
            </div>
        </div>
    </div>
</div>